* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    line-height: 32px;
    margin: auto;
    padding: 20px;
}

header {
    background:  #ebebeb;
    margin: 20px 0px 20px 0px;
    height: 100px;
    padding: 35px;
}

nav {
    background: #ebebeb;
    margin-bottom: 20px;
    height: 100px;
    padding: 35px;
}

section {
    background: #ebebeb;
    width: 525px;
    height: 345px;
    padding: 15px; 
    margin: 10px 0px 20px 0px;
}

aside {
    background: #ebebeb;
    float: right;
    margin: 0px 0px 20px 10px;
    width: 370px;
    height: 345px;
    padding: 35px;
}

article {
    margin: 75px auto;
    background-color: #777;
    color: white;
    padding: 15px;
    margin: 0px 0px 20px 0px;
    height: 246px;
    width: 494px;
}


footer {
    background: #ebebeb;
    height: 100px;
    margin-top: 20px;
    padding: 35px;
}

h1 {
    /* change color to gray; look for color */
    color: yellow;
}

.box {

}